html {
    font-family: cursive;
    color: white;
    background-color: whitesmoke;
}

body {
    background-color: #222;
    width: 80%;
    min-height: 90vh;
    margin: 0 auto;
}
h1, div, ul {
    text-align: center;
}
ul {
    list-style-position: inside;
}
img {
    max-width: 450px;
    height: auto;  
    padding: 20px;
    

}
a:link {
    color: aliceblue;
}
a:visited {
    color: bisque;
    text-decoration: none;
}
a:hover{
    color: crimson;
    text-decoration: none;
}
a:active {
    color: maroon;
    text-decoration: none;
}